.welcomin{
    margin-top: 20px;
    
}


.backlay1{
    background-image: url("../images/potato.jpg") ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  position: fixed;
  z-index: -11;
  
  background-repeat: no-repeat;
}
.overlay{
    opacity:0.6;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-10;
}
h1{
    color: white;
}
p{
    color:white;
}
h4{
    color:white;
}
h3{
    color:white;
}
label{
    color:white;
}
small{
    color:white;
}
.form-text{
    color:white;
}
.flavortxt{
    margin-top: 25px;
}

   

