.success {
    display: inline;
    padding: 10x;
    
}

#btn1 {
    margin-left: 60px;
   
}

#btn2 {
    margin-left: 120px;
}


#btn3 {
    
    margin-left: 120px;  
}

#btn4 {
    float: right;
    margin-right: 80px;  
}

h1, p {
  text-align: center;
  color: black;
}

p {
    font-size: 20px;
}

@media screen and (max-width: 400px) {

    #btn1, #btn2, #btn3, #btn4 {
        font-size: 8px;
        padding: 0;
    }
   #btn1 {
       margin-left: 0px;   
   }

   #btn2 {
    margin-left: 5px;   
}

#btn3 {
    margin-left: 6px;   
}

#btn4 {
    margin: 0px;  
}

.fa-dumbbell {
    display:none;
}
  
    };



@media screen and (min-width: 600) {

    #btn1, #btn2, #btn3, #btn4 {
        font-size: 50px;
        padding: 0;
        color: hotpink;
    }
   #btn1 {
       margin-left: 0px;   
   }

   #btn2 {
    margin-left: 30px;   
}

#btn3 {
    margin-left: 0px;   
}

#btn4 {
    float: right;
    margin: 0px;  
}

}